<a href="https://colab.research.google.com/github/abhishekkmrbgs/Python_Assignment-.ipynb/blob/main/Data_Structure_Assignmnet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Discuss string slicing and provide examples.


    String slicing is a powerful feature in Python that allows you to
    extract a portion of a string (or any sequence type like lists and tuples) using a specific syntax.
    
    It is a way to access parts of strings quickly and efficiently.
    
    string slicing is:  
    
    string[start:stop:step]

In [ ]:
# Basic Slicing
text = "Hello, World!"
print(text[0:5])  # Output: 'Hello'

Hello

In [ ]:
# Omitting the start index
print(text[:5])   # Output: 'Hello'

Hello

In [ ]:
# Omitting the stop index
print(text[7:])   # Output: 'World!'

World!

In [ ]:
#Using a Negative Index

print(text[-6:])   # Output: 'World!'

World!

In [ ]:
#Using a Step
text = "H e l l o, W o r l d!"
print(text[::2])  # Output: 'Hello!'

Hello     !

In [ ]:
#Using a Step
text = "Hello, World!"
print(text[::2])  # Output: 'Hlo ol!'

Hlo ol!

In [ ]:
#Slicing with a Negative Step (Reversing a String)
text = "Hello, World!"
print(text[::-1])  # Output: '!dlroW ,olleH'

!dlroW ,olleH

In [ ]:
#Slicing with a Negative Step (Reversing a String)
text = "H e l l o, W o r l d!"
print(text[::-1])  # Output: !d l r o W ,o l l e H

!d l r o W ,o l l e H

In [ ]:
#Slicing with Start, Stop, and Step
text = "Hello, World!"
print(text[7:12:2])  # Output: 'Wrd'

Wrd

In [ ]:
#Practical Examples

# Extracting File Extensions

filename = "abhishek.txt"
extension = filename[-3:]
print(extension)  # Output: 'txt'

txt

In [ ]:
filename = "abhishek"
extension = filename[-3:]
print(extension)  # Output: 'hek'

hek

In [ ]:
#Extracting the Domain from an Email

email = "user@example.com"
domain = email[email.index('@') + 1:]
print(domain)  # Output: 'example.com'

example.com

In [ ]:
email = "abhishekkmrbgs2003@example.com"
domain = email[email.index('2003') + 1:]
print(domain)  # Output: '003@example.com'

003@example.com

In [ ]:
email = "abhishekkmrbgs2003@example.com"
domain = email[+ 1:]
print(domain)  # Output: 'bhishekkmrbgs2003@example.com'

bhishekkmrbgs2003@example.com

In [ ]:
email = "abhishekkmrbgs2003@example.com"
domain = email[+ 0:]
print(domain)  # Output: 'abhishekkmrbgs2003@example.com'

abhishekkmrbgs2003@example.com

2. Explain the key features of lists in Python.




    In Python, lists are one of the most versatile and widely used data structures. They are part of the built-in data types in Python and come with a wide range of features that make them incredibly useful for various programming tasks.

    Here are the key features of lists in Python:-

    a. Ordered : Maintains insertion order

    b. Mutable : 	Elements can be modified

    c. Allows Duplicates : Duplicate items are allowed

    d. Slicing and Indexing : Supports indexing and slicing

    e. List Comprehension : Supports list comprehension for concise  code

    f. Built-in Methods : Provides various useful methods

    g. Nested Lists : Supports multi-dimensional lists

    h. Copying: Use slicing ([:]) or copy() to create shallow copies.

    i. Dynamic Size : Grows and shrinks as needed

 > a. Ordered


    Lists are ordered collections, which means that the elements have a defined sequence, and this sequence will not change unless explicitly modified.

    Each element in a list has an index starting from 0 (for the first element) to n-1 (for the last element).

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])  # Output: apple

apple

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])  # Output: cherry

cherry

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0:-1])  # Output: apple , banana

['apple', 'banana']

 > b.  Mutable

    Lists are mutable, meaning you can change their content after creation. You can add, remove, or modify elements.

In [ ]:
numbers = [1, 2, 3]
numbers[1] = 5
print(numbers)  # Output: [1, 5, 3]

[1, 5, 3]

In [ ]:
numbers = [1, 2, 3]
numbers[2] = 90
print(numbers)  # Output: [1, 5, 90]

[1, 2, 90]

In [ ]:
numbers = [1, 2, 3]
numbers[-1] = 5
print(numbers)  # Output: [1, 2, 5]

[1, 2, 5]

 > c.  Allows Duplicates

    Lists allow duplicate values. This means the same element can appear multiple times in the list.

In [ ]:
dup_list = [1, 2, 2, 3, 3, 3]
print(dup_list)  # Output: [1, 2, 2, 3, 3, 3]

[1, 2, 2, 3, 3, 3]

In [ ]:
dup_list = [1, 2, 2, 3, 3, 3.5,5+6j, True]
print(dup_list)  # Output: [1, 2, 2, 3, 3, 3.5, (5+6j), True]

[1, 2, 2, 3, 3, 3.5, (5+6j), True]

In [ ]:
dup_list = [1, 2, 2, 3, 3, 3]
b = dup_list*3

print(b) # Output: [1, 2, 2, 3, 3, 3]

[1, 2, 2, 3, 3, 3, 1, 2, 2, 3, 3, 3, 1, 2, 2, 3, 3, 3]

 > d. Slicing and Indexing

    You can access individual elements using indexing or a range of elements using slicing.

In [ ]:
animals = ['cat', 'dog', 'rabbit', 'horse']
print(animals[1])       # Output: dog
print(animals[1:3])     # Output: ['dog', 'rabbit']
print(animals[-1])      # Output: horse

dog
['dog', 'rabbit']
horse


 > e.  List Comprehension

    Python supports list comprehension, a concise way to create lists based on existing lists.
    
    It's often used for applying some operation to each element or filtering elements.

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [ ]:
a = (1, 2, 3, 4, 5, 6, 7)
squares = [x**2 for x in a[5:6] ]
print(squares)

[36]

> f.  Built-in List Methods

    Lists come with many built-in methods for manipulating list content. Some common methods include:
    
        append(): Adds an element to the end of the list.

        extend(): Adds all elements of an iterable (like another list) to the end of the list.

        insert(): Inserts an element at a specified position.

        remove(): Removes the first occurrence of a specified element.

        pop(): Removes and returns the element at a specified position
        (or the last element if no index is specified).

        index(): Returns the index of the first occurrence of a specified element.

        count(): Counts the number of occurrences of a specified element.

        sort(): Sorts the list in ascending order.

        reverse(): Reverses the elements of the list.

In [ ]:
numbers = [3, 1, 4, 1, 5, 9] # sort
numbers.sort()
print(numbers)  # Output: [1, 1, 3, 4, 5, 9]

[1, 1, 3, 4, 5, 9]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9] # append
numbers.append(15)
print(numbers)

[3, 1, 4, 1, 5, 9, 15]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9] # extend
numbers.extend([15,20,25,45,])
print(numbers)

[3, 1, 4, 1, 5, 9, 15, 20, 25, 45]

In [ ]:
numbers = [3, 1, 4, 1, 5, 9] # remove
numbers.remove(5)
print(numbers)

[3, 1, 4, 1, 9]

 > g. Nested Lists

    Lists can contain other lists as elements, allowing you to create nested lists (lists of lists). This is useful for representing multi-dimensional data.

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix[1][2])  # Output: 6

6

h. Copying


    Be cautious when copying lists. Using = creates a reference to the original list, not a copy. Use copy() method or list slicing ([:]) for shallow copies.

In [ ]:
original = [1, 2, 3]
copy = original[:]  # or use original.copy()
copy.append(4)
print(original)  # Output: [1, 2, 3]
print(copy)      # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

i. Dynamic Size

    Python lists are dynamic, meaning their size can change as you add or remove elements. Unlike arrays in some other languages, you donâ€™t need to declare the size of a list in advance.

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

3. Describe how to access, modify, and delete elements in a list with examples.


    In Python, lists are mutable, meaning their elements can be accessed, modified, or deleted.
    
    Let's explore how to access, modify, and delete elements in a list with examples.

a. Accessing Elements in a List

    You can access elements in a list using indexing and slicing.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing elements by index
print(fruits[0])  # Output: apple (first element)

print(fruits[2])  # Output: cherry (third element)

apple
cherry

In [ ]:
# Accessing the last element using negative index

print(fruits[-1]) # Output: elderberry (last element)

elderberry

In [ ]:
# Slicing the list (start index is inclusive, stop index is exclusive)


print(fruits[1:4]) # Output: ['banana', 'cherry', 'date']

['banana', 'cherry', 'date']

In [ ]:
print(fruits[:3])  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
print(fruits[2:])  # Output: ['cherry', 'date', 'elderberry']

['cherry', 'date', 'elderberry']

b. Modifying Elements in a List

    You can modify elements by directly assigning new values to specific indices or slices.

In [ ]:
# Modifying a single element

# Creating a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

fruits[1] = "blueberry"
print(fruits) # Output: ['apple', 'blueberry', 'cherry', 'date', 'elderberry']

['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [ ]:
# Modifying multiple elements using slicing

fruits[2:4] = ["cranberry", "dragonfruit"]
print(fruits) # Output: ['apple', 'blueberry', 'cranberry', 'dragonfruit', 'elderberry']

['apple', 'blueberry', 'cranberry', 'dragonfruit', 'elderberry']

In [ ]:
# Adding elements using slicing

fruits[2:2] = ["kiwi"]
print(fruits) # Output: ['apple', 'blueberry', 'kiwi', 'cranberry', 'dragonfruit', 'elderberry']

['apple', 'blueberry', 'kiwi', 'cranberry', 'dragonfruit', 'elderberry']

c. Deleting Elements in a List

    You can delete elements using:

    The del statement

    The remove() method

    The pop() method
    
    The clear() method (to delete all elements)

In [ ]:
# Using `del` to delete by index
del fruits[3]
print(fruits) # Output: ['apple', 'blueberry', 'kiwi', 'dragonfruit', 'elderberry']

['apple', 'blueberry', 'kiwi', 'dragonfruit', 'elderberry']

In [ ]:
# Using `del` with slicing
del fruits[1:3]
print(fruits) # Output: ['apple', 'dragonfruit', 'elderberry']

['apple', 'dragonfruit', 'elderberry']

In [ ]:
# Using `remove()` to delete by value
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

fruits.remove("cherry")
print(fruits) # Output: ['apple','banana', 'date', 'elderberry']

['apple', 'banana', 'date', 'elderberry']

In [ ]:
# Using `pop()` to delete and return the last element

last_fruit = fruits.pop()
print(last_fruit) # Output: elderberry
print(fruits)     # Output: ['apple', 'banana', 'date]

elderberry
['apple', 'banana', 'date']

In [ ]:
# Using `pop(index)` to delete by index
fruits.append("fig")
removed_fruit = fruits.pop(0)
print(removed_fruit) # Output: apple
print(fruits)        # Output: ['banana', 'date','fig']

apple
['banana', 'date', 'fig']

In [ ]:
# Using `clear()` to delete all elements
fruits.clear()
print(fruits) # Output: []

[]

4.  Compare and contrast tuples and lists with examples


    Tuples vs. Lists in Python

    Both tuples and lists are ways to store collections of items in Python, but they have some key differences.
    
    Let's break down their features with simple examples.

    a. Mutability

    b. Syntax

    c. Use Cases
    
    d. Size (Memory Usage)

    e. Methods

    f. Performance (Speed)

    Tuples are generally faster than lists because they are immutable.
    
    If you have a large collection of items that won't change, using a tuple can save memory and make your program faster.

  a. Mutability (Can it be changed?)

    Lists are mutable, which means you can change, add, or remove items after creating the list.

    
    Tuples are immutable, meaning once you create a tuple, you cannot change its contents.

In [ ]:
# List example (mutable)

my_list = [1, 2, 3]
my_list[0] = 10   # Changing the first item
print(my_list)    # Output: [10, 2, 3]

[10, 2, 3]

In [ ]:
# Tuple example (immutable)

my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will give an error because tuples can't be changed

TypeError: 'tuple' object does not support item assignment

b. Syntax (How they are created)

    Lists are created using square brackets [ ].

    
    Tuples are created using parentheses ( ).

In [ ]:
# Creating a list

my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
# Creating a tuple

my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

c. Use Cases (When to use which)

    Use a list when you need a collection of items that can change over time (e.g., a shopping list, a list of tasks).

    
    Use a tuple when you need a collection of items that should stay the same (e.g., coordinates (x, y), days of the week).

In [ ]:
# List for things that change

shopping_list = ["milk", "bread", "eggs"]
shopping_list.append("butter")  # Adding an item to the list
print(shopping_list)            # Output: ['milk', 'bread', 'eggs', 'butter']

['milk', 'bread', 'eggs', 'butter']

In [ ]:
#Tuple for things that don't change

coordinates = (10.5, 20.3)
coordinates[0] = 15.0  # This will give an error because tuples can't be modified

TypeError: 'tuple' object does not support item assignment

d. Size (Memory Usage)

    Tuples usually use less memory than lists since they are immutable.

    Lists use more memory because they are dynamic and mutable, meaning they need extra space to handle changes (like adding or removing elements).


    Tuples are more memory efficient since they are immutable, which makes them more lightweight.


    Tuples are generally more memory efficient than lists, especially when dealing with large collections of data.


    Use tuples when you have a fixed collection of items that do not need to change, and you want to save on memory. Use lists when you need the flexibility to modify your collection.



    Conclusion

    Collection Type	 Size (Small Example)	  Size (Large Example)

    List	            96 bytes	                    9112 bytes

    Tuple	            80 bytes	                    8024 bytes

e.  Methods (What you can do with them)

    Lists have more built-in methods because they are mutable (e.g., .append(), .remove(), .sort()).
    
    Tuples have fewer methods since they can't be changed (e.g., .count(), .index()).

In [ ]:
# List methods
my_list = [1, 2, 3]
my_list.append(4)    # Adds 4 to the list
print(my_list)       # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
# Tuple methods
my_tuple = (1, 2, 2, 3)
print(my_tuple.count(2))  # Counts how many times 2 appears: Output: 2
print(my_tuple.index(3))  # Finds the index of 3: Output: 3

2
3

5. Describe the key features of sets and provide examples of their  use.


    Sets are a fundamental data structure in mathematics and computer science, used to store unique elements without any particular order. Let's dive into the key features of sets and provide some examples of their use.

    Key Features of Sets

    a. Unique Elements:
        A set can only contain unique elements, meaning no duplicates are allowed. For example, if you try to add the number 5 twice to a set, it will only appear once.

    b. Unordered Collection:
        Sets do not maintain the order of elements. Unlike lists or arrays, the elements of a set are stored in an unpredictable order, and indexing is not allowed.

    c. Mutable (in most programming languages):
        Sets are mutable, meaning you can add or remove elements after the set is created (with methods like .add() or .remove()). However, the elements themselves must be immutable (e.g., numbers, strings, tuples).

    d. Efficient Membership Testing:
        Sets are optimized for membership tests (i.e., checking if an element is in the set) and have an average time complexity of O(1)O(1) for such operations. This makes them very efficient for tasks like filtering duplicates or checking for the presence of elements.

    e. Mathematical Set Operations:
        Sets support standard mathematical operations such as:
            Union (A | B): Combines elements from both sets.
            Intersection (A & B): Finds elements common to both sets.
            Difference (A - B): Elements in one set but not in the other.
            Symmetric Difference (A ^ B): Elements in either set but not in both.

In [ ]:
#Unique Elements example

# Original list with duplicates
numbers = [10, 20, 20, 30, 40, 40, 50, 50]

# Convert list to set to remove duplicates
unique_numbers = set(numbers)

# Display the result
print(unique_numbers)

{40, 10, 50, 20, 30}

In [ ]:
# Unordered Collection example

# Creating a set with multiple elements
my_set = {10, 20, 30, 40, 50}

# Printing the set multiple times
print(my_set)
print(my_set)
print(my_set)

{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}

In [ ]:
# List with duplicates and a specific order
items = ["apple", "banana", "apple", "orange", "banana"]

# Convert to set to remove duplicates
unique_items = set(items)

print(unique_items)
# Output: {'banana', 'orange', 'apple'}

{'banana', 'apple', 'orange'}

In [ ]:
# Mutable example

fruits = {"apple", "banana", "cherry"}

# Add a new element to the set
b = fruits.add("orange")
print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [ ]:
fruits.remove("banana")
print(fruits)

{'apple', 'orange', 'cherry'}

In [ ]:
# Efficient Membership Testing example

emails = {"alice@example.com", "bob@example.com", "carol@example.com"}

# Efficient membership check
print("alice@example.com" in emails)  # Output: True
print("dave@example.com" in emails)   # Output: False

True
False

In [ ]:
#Mathematical Set Operations example

# Define two sets
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

# Union: Combine all elements
print(set_A | set_B)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection: Common elements
print(set_A & set_B)  # Output: {3, 4}

# Difference: Elements in A but not in B
print(set_A - set_B)  # Output: {1, 2}

# Symmetric Difference: Elements in A or B, but not both
print(set_A ^ set_B)  # Output: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

6. Discuss the use cases of tuples and sets in Python programming.


    In Python, tuples and sets are both built-in data structures,
    but they serve different purposes and have distinct characteristics.
    Let's explore their use cases and why you might choose one over the other depending on the context.


   
1.Tuples

Characteristics of Tuples

    a. Ordered: The elements in a tuple have a defined order, which means they are indexed and can be accessed by their position.

    b. Immutable: Once created, the elements within a tuple cannot be modified, added, or removed.

    c. Allows Duplicates: Tuples can contain duplicate elements.
    Heterogeneous Elements: Tuples can store elements of different data types.

    d. Fixed Size: Since tuples are immutable, their size is fixed after creation.

    e. Supports Indexing and Slicing: You can access tuple elements using indices and perform slicing.

    f. Heterogeneous Elements :

    Tuples can contain elements of different data types (e.g., integers, strings, floats, lists).


2.Sets

Characteristics of Sets

    a. Unordered: Sets do not maintain any specific order of elements.

    b. Mutable: You can add or remove elements from a set, although the individual elements themselves must be immutable.

    c. No Duplicates: Sets automatically discard duplicate values, ensuring all elements are unique.

    d. Heterogeneous Elements: Sets can store elements of different data types, but the elements must be hashable (like numbers, strings, and tuples).

    e. Does Not Support Indexing or Slicing: Since sets are unordered, you cannot access elements by their index.

> 1.  Tuple Example

      # ordered :

      Tuples maintain the order of elements, which means the items have a defined sequence.
      Each element in a tuple has a specific position, which can be accessed using indices.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple[1])  # Output: 20

20

    # Immutable :

    Once a tuple is created, its elements cannot be changed, added, or removed.
    
    This immutability makes tuples more efficient than lists in some scenarios where the data should remain constant.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

    # Allows Duplicates :

    Tuples can store multiple instances of the same value, meaning duplicate elements are allowed.

In [ ]:
my_tuple = (5, 5, 10, 15)
print(my_tuple)  # Output: (5, 5, 10, 15)

(5, 5, 10, 15)

    # Fixed Size :

    The size of a tuple is determined when it is created, and it cannot be changed afterward. You cannot add or remove elements from a tuple.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple.append(4)  # This will raise an AttributeError

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
my_tuple = (1, 2, 3)
a = list(my_tuple) ## Convert to list
a.append(4) # # Append the new element
print(a)
my_tuple = tuple(a) # Convert back to tuple
print(my_tuple)

[1, 2, 3, 4]
(1, 2, 3, 4)

    # Supports Indexing and Slicing :

    Tuples support indexing, meaning you can access elements using their position.
    You can also use slicing to access a range of elements.

In [ ]:
my_tuple = (0, 1, 2, 3, 4)
print(my_tuple[2])       # Output: 2
print(my_tuple[1:4])     # Output: (1, 2, 3)
print(my_tuple[-1])      # Output: 4 (Negative indexing)

2
(1, 2, 3)
4

    # Heterogeneous Elements :

    Tuples can contain elements of different data types (e.g., integers, strings, floats, lists).

In [ ]:
mixed_tuple = (1, "Python", 3.14, [4, 5, 6])
print(mixed_tuple)  # Output: (1, 'Python', 3.14, [4, 5, 6])

(1, 'Python', 3.14, [4, 5, 6])

2. Sets Example


    # Unordered :

    Sets do not maintain any specific order of elements.
    This means that when you print a set or iterate through it, the elements may appear in a different order each time.

In [ ]:
my_set = {3, 1, 4, 2}
print(my_set)  # Output might be: {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

    # Mutable :

    You can add or remove elements from a set after its creation.
    
    However, the elements themselves must be immutable (e.g., numbers, strings, tuples).

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)  # Adding an element
print(my_set)  # Output: {1, 2, 3, 4}
my_set.remove(2)  # Removing an element
print(my_set)  # Output: {1, 3, 4}

{1, 2, 3, 4}
{1, 3, 4}

    # No Duplicates :

    Sets automatically discard duplicate values, ensuring all elements are unique.

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

    # Heterogeneous Elements:

    Sets can store elements of different data types, such as integers, strings, and tuples.
    
    However, all elements must be hashable (i.e., immutable and with a defined __hash__() method).

In [ ]:
my_set = {1, "hello", (2, 3)}
print(my_set)  # Output: {(2, 3), 1, 'hello'}

{(2, 3), 1, 'hello'}

    # Does Not Support Indexing or Slicing:

    Since sets are unordered, you cannot access elements using an index or slice them like lists or tuples.

In [ ]:
my_set = {10, 20, 30}
# Trying to access an element by index will raise an error
print(my_set[0])  # Raises: TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

7. Describe how to add, modify, and delete items in a dictionary with examples.

   
    In Python, dictionaries are a powerful way to store data in key-value pairs.

    Let's explore how to add, modify, and delete items in a dictionary with examples.

    Summary

    Add: dictionary[key] = value

    Modify: dictionary[key] = new_value

    Delete:
       
    Specific key: del dictionary[key] or dictionary.pop(key)
    
    Last item: dictionary.popitem()

    All items: dictionary.clear()

    a. Adding Items to a Dictionary

    To add a new item (key-value pair) to a dictionary, you can simply assign a value to a new key using the syntax:

    dictionary[key] = value

In [ ]:
# Creating an empty dictionary
my_dict = {}

# Adding new key-value pairs
my_dict['name'] = 'Alice'
my_dict['age'] = 25
my_dict['city'] = 'New York'

# Display the updated dictionary
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

    b. Modifying Items in a Dictionary

    To modify an existing item, you can update the value associated with a key using the same syntax as adding an item:

    dictionary[key] = new_value

In [ ]:
# Existing dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Modifying an existing key-value pair
my_dict['age'] = 26
my_dict['city'] = 'San Francisco'

# Display the modified dictionary
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'San Francisco'}

    c. Deleting Items from a Dictionary

    There are several ways to remove items from a dictionary:
    
    # Using the del keyword

    The del statement removes a key-value pair by specifying the key.

    del dictionary[key]

In [ ]:
# Existing dictionary
my_dict = {'name': 'Alice', 'age': 26, 'city': 'San Francisco'}

# Deleting an item
del my_dict['age']

# Display the updated dictionary
print(my_dict)

{'name': 'Alice', 'city': 'San Francisco'}

    # Using the .pop() method

    The .pop() method removes an item by key and returns its value.

    If the key is not found, it raises a KeyError, unless you provide a default value.

    value = dictionary.pop(key, default_value)

In [ ]:
# Existing dictionary
my_dict = {'name': 'Alice', 'city': 'San Francisco'}

# Removing an item with .pop()
removed_value = my_dict.pop('city')

print("Removed Value:", removed_value)
print("Updated Dictionary:", my_dict)

Removed Value: San Francisco
Updated Dictionary: {'name': 'Alice'}

    # Using the .popitem() method

    The .popitem() method removes and returns the last inserted key-value pair as a tuple.

    This is useful if you want to treat the dictionary as a stack (LIFO - Last In, First Out).
    
    In Python 3.7 and later, dictionaries maintain insertion order.

    key, value = dictionary.popitem()

In [ ]:
# Existing dictionary
my_dict = {'name': 'Alice', 'age': 26}

# Removing the last inserted item
last_item = my_dict.popitem()

print("Removed Item:", last_item)
print("Updated Dictionary:", my_dict)

Removed Item: ('age', 26)
Updated Dictionary: {'name': 'Alice'}

    # Using the .clear() method

    If you want to remove all items from a dictionary, you can use the .clear() method.

    dictionary.clear()

In [ ]:
# Existing dictionary
my_dict = {'name': 'Alice', 'age': 26}

# Clearing the dictionary
my_dict.clear()

print("Cleared Dictionary:", my_dict)

Cleared Dictionary: {}

8. Discuss the importance of dictionary keys being immutable and provide examples.



    In Python, dictionary keys must be immutable, which means they cannot be changed after they are created. This characteristic is essential for maintaining the integrity and performance of dictionaries, especially in terms of how Python handles data internally.

    Why Must Dictionary Keys Be Immutable?

    Hashing Requirement:
        Dictionaries in Python use a data structure called a hash table to store key-value pairs.
        For a key to be stored in a hash table, Python computes a unique number called a hash value using the key.
        If keys were mutable (i.e., could change), their hash values would also change, leading to inconsistencies.
       The dictionary would lose track of where the key-value pair is stored, making it impossible to retrieve the value correctly.
    Consistency in Lookups:
        Since dictionary keys must remain consistent during their lifetime, immutability ensures that the data associated with a key can always be found at the same location.
        If mutable keys were allowed, modifying a key would result in the dictionary being unable to find the corresponding value, breaking the logic of the program.

Examples of Immutable vs. Mutable Types

    Immutable types: int, float, string, tuple, frozenset
        Example keys: 42, "name", (1, 2, 3)
        
    Mutable types: list, dict, set
        Example keys that would cause errors: [1, 2, 3], {1: 'a'}, {1, 2, 3}

In [ ]:
# Example with immutable keys
person_info = {
    "name": "Abhishek",  # string (immutable)
    (2024, "ID"): "A12345"  # tuple (immutable)
}

print(person_info["name"])  # Output: Abhishek

Abhishek

In [ ]:
# Example with mutable keys
# Attempting to use a list as a dictionary key
my_dict = {
    [1, 2, 3]: "This is a list as key"  # Lists are mutable, so this will cause an error
}


 # Python will raise an error because lists are mutable, and mutable types cannot be used as dictionary keys.

TypeError: unhashable type: 'list'

In [ ]:
# Attempting to use a dictionary as a key
another_dict = {
    {1: "one", 2: "two"}: "This is a dictionary as key"  # Dictionaries are mutable
}

TypeError: unhashable type: 'dict'